---
const { title } = Astro.props;
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Canstreeee! (leggimi)" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/canestrella/canstreee.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;

  text-align: center;
}

h1 {
  margin-top: 0;
}

h2, h3 {
  /* margin-bottom: 0; */
}

p {
  margin-top: 0;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  /* font-size: 12px; */
}

ul {
  padding-left: 16px;
}

a[href="https://hosting-wololooo.web.app/#/"] {
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% { color: rgb(255, 39, 241); }
  33% { color: blue; }
  66% { color: rgb(27, 11, 167); }
  100% { color: rgb(255, 39, 241); }
}

@media print {
  @page {
    margin: 20mm;
  }
}
</style>
